.CardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  padding-right: 35px;
  padding-left: 35px;
  margin: 0;
}
