@font-face {
  font-family: "AG Helvetica";
  src: url("../../../fonts/AGHelvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.1);
  border-top: solid 1px rgba(73, 73, 73, 0.05);
  width: 451px;
  height: 279px;
  padding: 0;
  margin-top: 35px;
}

.Card:last-child {
  margin-left: 30px;
}

.Card:nth-child(odd):last-child {
  margin-left: 0;
}

.firstCard {
  margin-top: 0;
}

.Image {
  width: 183px;
  height: 279px;
}

.ImageSising {
  width: 183px;
  height: 279px;
  object-fit: cover;
  object-position: center;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "AG Helvetica", sans-serif;
  width: 100%;
  height: calc(100% - 15px);
  padding: 15px;
  padding-top: 0;
  margin: 0;
  overflow: hidden;
}

.ContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: fit-content;
}

.ContentHeaderH2 {
  overflow: hidden;
}

.Content_h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
  height: fit-content;
  padding-top: 15px;
  padding-bottom: 0;
  margin: 0;
  overflow: hidden;
}

.Date {
  margin: 0;
  padding-top: 8px;
  font-size: 12px;
  line-height: 20px;
  color: #999;
}

.Tags {
  padding-top: 5px;
  padding-bottom: 3px;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  max-height: 80px;
  color: #999;
}

.Text {
  max-height: 100px;
  margin: 0;
  overflow: hidden;
  padding-top: 0px;
  font-size: 12px;
  line-height: 20px;
  color: #000;
}
